body {
    margin: 0;
     background: linear-gradient(#066251,#062371) ;
     background-size: cover;
     height:600px;
     color:#fff;
      font-family: "Jost", sans-serif;
    
}
@font-face {
    font-family: 'Cursed Timer ULiL'; /* This is the name you'll use in CSS */
    src: url('CursedTimerUlil-Aznm.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

.container {
    display: flex;
    justify-content: space-around;
    width: 80%;
    margin: auto;
    align-items: center;
    align-content: center;
}

a{
    text-decoration: none;
    color: #fff;
}

.home{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 26px;
    margin-top: 30px;
}
.title{
   width: 139px;
   height: 36px;
   text-align: center;
   font-size: 40px;
   margin-bottom: 10px;
}
.num{
   
    display: flex;
    text-align: center;
    justify-content: center; 
    align-items: center;
}
#number{
    background-color: black;
    color: #F94F6D;
    justify-content: center; 
    align-items: center;
    height: 150px;
    width: 200px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 100px;
    padding: 6px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-shadow: 3px 3px #9AABD8 ;

   
    
}
#number1{
    background-color: black;
    color: #F94F6D;
    justify-content: center; 
    align-items: center;
    height: 150px;
    width: 200px;
    font-family: 'Cursed Timer ULiL', sans-serif;
    font-size: 100px;
    padding: 6px;
    border: 2px solid #9AABD8;
    border-radius: 5px;
    box-shadow: 3px 3px #9AABD8 ;

   
    
}

.points{
    font-family: 'Cursed Timer ULiL', sans-serif;
    color: #9AABD8;
    
}
#point {
    border: 2px solid #9AABD8;
    padding: 9px 8px 10px 7px;
    border-radius: 5px;
    font-size: 18px;
    background-color: inherit;
}
button{
     border: 2px solid #9AABD8;
     background-color: #062371;
     color: #9AABD8;;
      font-family: 'Cursed Timer ULiL', sans-serif;
    
    
}
.btntnt{
    width: fit-content;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}
.btn{
   align-self: center;
   width: 100px;
   margin: 0 auto;
   text-align: center;
   justify-self: flex-end;
    color: #F94F6D;
    background-color: black;
  
}



